---
import MainTitle from './MainTitle.astro';
import type { PromoDataT } from '@appTypes/promoTypes';
import ButtonGoBack from './ButtonGoBack.astro';

interface Props {
  data: PromoDataT;
}

const { data } = Astro.props;
---

<section class="section-offset">
  <div class="details__container container">
    <ButtonGoBack />
    <MainTitle title="Release Details" />
    <div class="details__info" data-details>
      <ul class="details__list list-reset">
        <li class="details__item">
          <span class="details__label">Год выпуска</span>
          <span class="details__value">{data.releaseYear}</span>
        </li>
        <li class="details__item">
          <span class="details__label">Жанр</span>
          <span class="details__value">{data.genre}</span>
        </li>
        <li class="details__item">
          <span class="details__label">Продолжительность</span>
          <span class="details__value">{data.runtime}</span>
        </li>
        <li class="details__item">
          <span class="details__label">Количество треков</span>
          <span class="details__value">{data.tracksCount}</span>
        </li>
        <li class="details__item">
          <span class="details__label">Тип релиза</span>
          <span class="details__value">{data.type}</span>
        </li>
        <li class="details__item">
          <span class="details__label">Лейбл</span>
          <span class="details__value">{data.label}</span>
        </li>
        <li class="details__item">
          <span class="details__label">Язык</span>
          <span class="details__value">{data.language}</span>
        </li>
        <li class="details__item">
          <span class="details__label">Локация</span>
          <span class="details__value">{data.country}, {data.city}</span>
        </li>
      </ul>
    </div>
  </div>
</section>
