---
import { Image } from 'astro:assets';
import { poster } from '@data/images';
import type { PromoDataT } from '@appTypes/promoTypes';
import MainTitle from './MainTitle.astro';
import Player from './Player.astro';
import ButtonGoBack from './ButtonGoBack.astro';

interface Props {
  data: PromoDataT;
}

const { data } = Astro.props;

const cover = poster[`/src/assets/${data.cover}`]?.default;
const mainTracks = data.tracks?.filter((t) => t.category === 'main');
---

<section class="section-offset">
  <div class="media__container container">
    <ButtonGoBack />
    <MainTitle title="Official Tracklist" />
    <div class="media-panel" data-media>
      <div class="media-panel__meta">
        {
          cover && (
            <Image
              src={cover}
              alt={data.releaseName}
              class="media-panel__cover"
              width={200}
              height={200}
            />
          )
        }
        <div class="media-panel__content">
          <h4 class="media-panel__release-title">{data.releaseName}</h4>
          <p class="media-panel__release-info">{data.releaseYear}</p>
        </div>
      </div>

      <div data-current-context="main">
        <Player isWidget={false} />
      </div>

      <div class="media-panel__tracks">
        <ul class="media-panel__track-list list-reset">
          {
            mainTracks && mainTracks?.length > 0 ? (
              mainTracks?.map((track, idx) => (
                <li
                  class="media-panel__track-item"
                  data-src={track.fileUrl}
                  data-track-item
                >
                  <span class="media-panel__track-number">
                    {String(idx + 1).padStart(2, '0') + ' '}
                  </span>
                  <span class="media-panel__track-name">{track.title}</span>
                </li>
              ))
            ) : (
              <p>Трек-лист временно отсутствует!</p>
            )
          }
        </ul>
      </div>
    </div>
  </div>
</section>
